@import url(/scss/partials/_inicio.scss);
@import url(/scss/sass2/_mixins.scss);
@import url(/scss/variables/_variables.scss);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
    background-image: linear-gradient(to left, 	rgb(47, 194, 62), rgb(81, 163, 89))
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width:fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    border-color: white;
    border-style: solid;
    font-size: small;
}
header div img{
    height: 60px;
}

.imagen-inicio{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.imagen-inicio img{
    width: 600px;
    height: 400px;
    border-radius: 15px;
    border-color: rgba(255, 255, 255, 0.8);
    border-style: solid;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

nav li{
list-style: none;
text-decoration: solid;
}

nav li:hover{
    color: white;
    text-decoration: underline;
}
footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
footer .lema{
    text-decoration: overline;
}
footer .instagram img{
    height: 30px;
    margin-bottom: -10px;
    }
footer .facebook img{
height: 30px;
margin-bottom: -10px;
}
footer .derechos{
    text-decoration: overline;
}